<div [style]="{ width: '100%',height: 'calc(92% - var(--mdc-secondary-navigation-tab-container-height))', position:'fixed', top:'var(--mat-toolbar-mobile-height)'}">
    <p-scrollPanel ScrollerToType="to-start" [style]="{ width: '100%',height: '100%' }">
        <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
            @for (item of dataPurchase; track item) {
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">{{item.concept}}</span>
                                <div class="text-900 font-medium text-xl">{{'$' +item.amount}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center {{item.color}} border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi {{item.icon}} {{item.textColor}} text-xl"></i>
                            </div>
                        </div>
                        <span class="text-green-500 font-medium">{{item.typePayment}}</span>
                        <span class="text-500"> - {{item.datePurchase}}</span>
                    </div>
                </div>
            </div>
            }
        </div>
    </p-scrollPanel>

    <!-- <div style="height: 500px; position: relative;" class="speeddial-circle-demo">
        <p-button icon="pi pi-plus  " [rounded]="true" size="large" class="float" routerLink="/register-purchases" />
    </div> -->
</div>