<app-navbar [changeTitle]="titleTab" />

<footer>
    <mat-tab-group headerPosition="below" [style]="{ width: '100%',height: 'calc(100%-0px)' }" [(selectedIndex)]="selectedTab">
        <mat-tab label="Inicio">
            <button (click)="openContentOne()"></button>
        </mat-tab>
        <mat-tab label="Compras">
            <app-shopping-list />

        </mat-tab>
        <mat-tab label="Registrar">
            <app-register-purchases />

        </mat-tab>
    </mat-tab-group>
</footer>